* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}
.header {
  position: relative;
  margin-top: 5px;
  left: 5px;
  font-size: 24px;
  margin-bottom: 19%;
}
.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 120px;
}
.img-div {
  width: 50%;
}
.scarecrow {
  width: 100%;
}
.text-div {
  width: 50%;
}
.title {
  width: 90%;
  padding-bottom: 36px;
  color: #333;
  font-size: 64px;
  font-weight: 700;
}
.info {
  width: 70%;
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 64px;
}
.btn {
  background-color: #333;
  padding: 22px 43px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: 0;
}
@media screen and (max-width: 576px) {
  .main {
    flex-direction: column;
    padding-left: 24px;
  }
  .text-div,
  .title,
  .info {
    width: 100%;
  }

  .title {
    font-size: 48px;
  }
  .info {
    padding-top: 30px;
    padding-bottom: 66px;
    font-size: 18px;
  }
}
